html{

    cursor: url(../assets/imges/mata_mosca.png)30 30, auto;
}
body{

    background-image: url('../assets/imges/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;

}

.flyOne{

    width: 50px;
    height: 50px;
}

.flyTwo{

    width: 70px;
    height: 70px;
}

.flyThree{

    width: 90px;
    height: 90px;
}

.sideRight{

    transform: scaleX(1);

}

.sideLeft{

    transform: scaleX(-1);

}

.Painel{

    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px white;
    background-color: #fff;
    opacity: 0.7;
}

.Vidas{

    float: left;

}

.Cronometro{

    float: left;
    font-size: 20px;
    font-weight: bold;

}
